
{{error.message}}
<form>
Enter username <input type="text"  ng-model="user.username"><Br>
Enter password <input type="password" ng-model="user.password"><br>
Enter firstname<input type="text" ng-model="user.firstname"><br>
Enter lastname <input type="text" ng-model="user.lastname"><br>
Enter Email <input type="email" ng-model="user.email"><br>
Enter phonenumber <input type="text" ng-model="user.phonenumber"><br>
Select Role<br>
<input type="radio" value="STUDENT" ng-model="user.role">Student <br>
<input type="radio" value="ALUMINI" ng-model="user.role">Alumini<br>
<input type="radio" value="EMPLOYEE" ng-model="user.role">Employee<br>

<input type="submit" ng-click="registerUser()">

</form>
